*{
    margin :0;
    padding: 0;
}
#epartment{
    display: flex;
    flex-direction: column;
    padding: 50px 250px;
    height: 639px;
    justify-content: center;
    align-items: center;
}
#department::before{
    content:"";
    position: absolute;
    background: url('../bg.jpg');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width:100%;
    background-image: left;
    z-index: -1;
    opacity:0.63;
}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;

}

.h-primary::before{
    content:"";
    background-color: gainsboro;
    position: absolute;
    top: 0px;
    left: 0px;    
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
.p-primary p{
    color: black;
    text-align: center;
}
#department h3{
    color: black;
    text-align: center;
}
#department li{
    color: black;
    text-align: center;
}
