*{
    margin :0;
    padding: 0;
}
#ostel{
    display: flex;
    flex-direction: column;
    padding: 50px 250px;
    height: 639px;
    justify-content: center;
    align-items: center;
}
#Hostel::before{
    content:"";
    position: central;
    background: url('../hostel.jpg');
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 100%;
    width:100%;
    background-image: left;
    z-index: -1;
    opacity:0.63;
}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;

}

.h-primary::before{
    content:"";
    background-color: gainsboro;
    position: absolute;
    top: 0px;
    left: 0px;    
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.hostels{
    color: black;
    font-size: 30px;
    padding: 12px;
    text-align: center;
}
.hostela{
    color: black;
    font-size: 30px;
    padding: 12px;
    text-align: center;
}