*{
    margin :0;
    padding: 0;
    background-color: blanchedalmond;
}
#placement{
    display: flex;
    flex-direction: column;
    padding: 50px 250px;
    height: 65px;
    justify-content: center;
    align-items: center;
}
#placement::before{
    content:"";
    position: central;
    background: url('../placementbar.jpg');
    background-repeat: no-repeat !important;
    background-position: absolute !important;
    background-size: cover;
    top: 0px;
    left:0px;
    height: 100%;
    width:80%;
    margin: 200px;
    background-image: left;
    z-index: -1; 

}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;

}

.h-primary::before{
    content:"";
    background-color: gainsboro;
    position: absolute;
    top: 0px;
    left: 0px;    
    height: 80%;
    width: 80%;
    z-index: -1;
    opacity: 0.8;
}