
*
{
    margin: 0;
    padding: 0;
}


:root{
    --navbar-heaight:59px;
}

#navbar{
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    top:0;
    position: relative;
    position: sticky;
}


#logo{
    margin: 8px 15px;
}
#logo img{
  height :80px;
  margin : 10px 10px;

}

#navbar ul{
    display: flex;
}
#navbar::before{
    content:"";
    background-color: rgb(245, 14, 14);
    position: absolute;
    top: 0px;
    left: 0px;    
    height: 100%;
    width: 100%;
    z-index: -1;

}
#navbar ul li{
    list-style: none;
    font-size: 1.4rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 15px;
    border-radius: 10px;
    text-decoration: none; 
    color: white;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}


#aboutus{
    display: flex;
    flex-direction: column;
    padding: 60px 250px;
    height: 570px;
    justify-content: center;
    align-items: center;
}

#aboutus::before{
    content:"";
    position: absolute;
    background: url('../bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity:0.80;
}

#aboutus h1{
    color: white;
    text-align: center;

}

#aboutus p{
    color: white;
    text-align: center;
    font-size: 1.9rem;
    
}
#course{
    margin: 44px;
    display:flex;

}
#course .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px;
    border-radius: 13px;
    background-color: rgb(240, 235, 229);
}
/* divyansh project */
#course .box img{
    height: 261px;
    width: 400px;
}

.h-primary{
    font-size: 2.8rem;
    margin: 3px;
    padding: 22px;
    text-align: center !important;

}

.h-secondary{
    font-size: 2.13rem;
    text-align: center;
}
.p-secondary{
    text-align: center;
}


#contact{
    margin: 34px;
    display:flex;


}
#contact .boxs{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px;
    border-radius: 13px;
    background-color: rgb(171, 205, 235);
}
/* divyansh project */
#contact .boxs img{
    height: 261px;
    width: 400px;
}

.h-tertiary{
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;

}

.h-secondary{
    font-size: 2.13rem;
    text-align: center;
}
.p-secondary{
  text-align: center;
}